/* Resetear estilos */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Personalizados */

@font-face {
    font-family: "DM Sans";
    src: url('../assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "DM Sans";
    src: url('../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}





body {
    font-family: "DM Sans", sans-serif;
    background: #F5F5F5;
}


/* movil */

.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 20px;
    max-width: 1440px;
    /* View Height = Alto de la pantalla */

}

.primero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(256, 67%, 59%);
    color: white;
    border-radius: 10px;
    padding: 0;
    padding: 32px 16px;

}

.primero img {
    width: 100%;
    max-width: 160px;

}

.primero h1 {
    font-size: 42px;
    text-align: center;
    line-height: 1;
    margin-bottom: 18px;
}

.primero .equis {
    color: hsl(39, 100%, 71%);
}

.primero .cursiva {
    font-style: italic;
    margin-right: 8px;
}

.primero>p {
    font-size: 14px;
    opacity: 80%;
}




/*----------------------------------------------------------------*/
.segundo {
    background: #ffffff;
    border-radius: 10px;
    padding: 16px;
}

.segundo img {
    width: 300px;
    margin-bottom: 14px;
}

.segundo p {
    color: hsl(0, 0%, 7%);
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}


/*----------------------------------------------------------------*/

.tercero {
    background-color: hsl(39, 100%, 71%);
    border-radius: 10px;
    padding: 16px;
    padding-bottom: 0;
    overflow: hidden;
}

.tercero p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 14px;
    line-height: 1;
}

.tercero img {
    width: 165px;
    margin-bottom: -20px;
}

/*----------------------------------------------------------------*/

.cuarto {
    background-color: hsl(254, 88%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 24px 16px;
}

.cuarto>p {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 18px;
}

.cuarto img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 18px;
}

.cuarto .cuartoPequeño {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.cuarto .cuartoPequeño p {
    text-align: center;
    padding-inline: 24px
}

/*----------------------------------------------*/

.quinto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(256, 67%, 59%);
    border-radius: 10px;
    padding: 24px 16px;
}

.quinto p {
    color: hsl(0, 0%, 100%);
    font-size: 28px;
    font-weight: bold;
    padding-inline: 32px;
    text-align: center;
    line-height: 1;
}

.quinto img {
    width: 100%;
    margin-bottom: 32px;
    max-width: 220px;
    display: flex;
    justify-content: center;
}



/*----------------------------------------------*/

.sexto {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 16px;
}

.sexto p {
    margin-bottom: 16px;
}

.sexto img {
    width: 160px;
}

.sexto span {
    font-size: 40px;
    font-weight: bold;
}



/*----------------------------------------------*/

.septimo {
    background-color: hsl(31, 66%, 93%);
    border-radius: 10px;
    padding: 24px;
}

.septimo p {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 16px;
}

.septimo img {
    width: 130px;

}

.septimo span {
    color: hsl(256, 67%, 59%);
    font-style: italic;
}

/*----------------------------------------------*/

.octavo {
    background-color: hsl(39, 100%, 71%);
    border-radius: 10px;
    padding: 16px 24px;
}

.octavo p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    padding-right: 24px;
    line-height: 1;
}

.octavo img {
    width: 180px;
}



/*----------------------------------------------*/

.attribution {
    text-align: center;
}


/* Contenedor principal para el diseño de escritorio */
@media (min-width: 768px) {


    .container {
        display: grid;
        grid-template-columns: repeat(4, 256px);
        place-self: center;
        grid-template-rows: auto;
        grid-template-areas:
            "septimo primero primero cuarto"
            "septimo primero primero cuarto"
            "septimo segundo tercero cuarto"
            "octavo segundo tercero cuarto"
            "octavo sexto quinto quinto"
            "octavo sexto quinto quinto";
        gap: 32px;
        /* Espacio entre los elementos de la cuadrícula */
    }

    .primero {
        grid-area: primero;
        height: 324px;

    }

    .primero h1 {
        font-size: 64px;
        padding-inline: 24px;
    }


    /* Segundo elemento */
    .segundo {
        grid-area: segundo;
        overflow: hidden;
        padding: 24px;
    }

    .segundo p {
        font-size: 32px;
        margin-bottom: 0;
    }



    /* Tercero elemento */
    .tercero {
        grid-area: tercero;
        overflow: hidden;
    }

    .tercero p {
        font-size: 32px;
    }

    .tercero img {
        width: 208px;
        margin-bottom: -160px;
    }



    .cuarto {
        grid-area: cuarto;
        align-items: flex-start;
        overflow: hidden;
        padding: 32px;
    }

    .cuarto>p {
        justify-content: flex-start;
        font-size: 24px;
        line-height: 1;
        margin-bottom: 18px;
    }

    .cuarto .cuartoPequeño p {
        text-align: left;
        padding-left: 0;
        font-size: 16px;
        line-height: 1;

    }

    .cuarto img {
        width: 350px;
    }



    .quinto {
        grid-area: quinto;
        flex-direction: row;

    }

    .quinto img {
        margin-bottom: 0;
    }

    .quinto p {
        text-align: left;
        font-size: 32px;
    }

    .sexto {
        grid-area: sexto;

    }

    .sexto span {
        font-size: 56px;
    }

    .septimo {
        grid-area: septimo;
        padding-inline: 32px;
    }

    .septimo p {
        font-size: 38px;
        padding-top: 64px;
    }

    .septimo img {
        width: 100%;
        max-width: 280px;
    }


    .octavo {
        grid-area: octavo;

    }

    .octavo p {
        font-size: 38px;
        padding-bottom: 32px;
    }

    .octavo img {
        width: 100%;
        max-width: 320px;
    }
}